.exporter {
    margin-bottom: 1rem;
}

.exporter label {
    font-weight: bold;
    display: flex;
}

.exporter input {
    display: inline-block;
    width: 1rem;
}

.exporter-description {
    margin-left: 1.5rem;
}
